{% include 'recipies/partials/head.html' %}

<body>

    {% include "recipies/partials/header.html" %}
    {% include "recipies/partials/search.html" %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">

            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}
            {% include "recipies/partials/recipe.html" %}

        </div>
    </main>
    {% include "recipies/partials/footer.html" %}
</body>
</html>